body {
  margin: 0;
  background-color: lightgray;
}

.center {
  display: grid;
  place-items: center;
  height: 95vh;
}

.center form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 20px;
  font-weight: bolder;
}

.center form input {
  height: 30px;
}

.center form button {
  height: 30px;
  background-color: green;
  color: white;
  border-radius: 5px;
}

.top {
  margin-top: 50px;
  border-bottom: 2px solid black;
  padding-left: 50px;
  padding-bottom: 50px;
  width: 100%;
  display: flex;
  gap: 40px;
}

.card {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 20%) 0px 1px 2px;
}

.glowing-green-light {
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
  animation: glowing 1.5s infinite alternate;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 10px 2px green;
  }
  100% {
    box-shadow: 0 0 20px 2px green;
  }
}

